.vinter {
  height: 200px;
  background: lightblue;
  border: 3px solid cyan;
}
.snogubbe {
  width: 200px;
  height: 320px;
  margin: 40px auto 0;
  position: relative;

  /* TODO 1: Gör snögubben till referens för dess delar */ 
}
.huvud {
  width: 120px;
  height: 120px;
  border: 2px solid lightgray;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 40px;
  z-index: 2;
  /* TODO 2: Placera huvudet 40px från snögubbens vänsterkant */
}
.kropp {
  width: 180px;
  height: 180px;
  border: 2px solid lightgray;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 105px;
  left: 10px;
  z-index: 1;
  /* TODO 3: Placera kroppen 105px från snögubbens överkant */
  /* Centrera den horisontellt */
}
.oga,
.knapp {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  position: absolute;
}
.oga-vanster {
  left: 30px;
  top: 40px;
  /* TODO 4: 30px från huvudets vänsterkant & 40px uppifrån */
}
.oga-hoger {
  left: 75px;
  top: 40px;
  /* TODO 5: 75px från huvudets vänsterkant & 40px uppifrån */
}
.nasa {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 35px solid orange;
  position: absolute;
  left: 57px;
  top: 65px;
  /* TODO 6: Placera näsan mitt i ansiktet */
}
.knapp-ett {
  left: 80px;
  top: 40px;
  /* TODO 7: 80px från kroppens vänsterkant & 40px uppifrån */
}
.knapp-tva {
  left: 80px;
  top: 75px;
  /* TODO 8: samma vänsterläge, 75px uppifrån */
}
.knapp-tre {
  left: 80px;
  top: 110px;
  /* TODO 9: samma vänsterläge, 110px uppifrån */
}
.hatt {
  width: 120px;
  height: 70px;
  position: absolute;
  left: 40px;
  top: -50px;
  z-index: 3;
  
  /* TODO 10: Placera hatten ovanför huvudet */
}
.hatt-topp {
  width: 80px;
  height: 55px;
  margin: 0 auto;
  background: black;
}
.hatt-bratte {
  width: 120px;
  height: 15px;
  background: black;
}
.arm {
  width: 80px;
  height: 8px;
  background: brown;
  position: absolute;
  /* TODO 11: Låt armarna kunna placeras fritt */
}
.arm-vanster {
  left: -45px;
  top: 165px;
  transform: rotate(-30deg);
  /* VG TODO 12: Placera armen på kroppens vänstra sida */
}
.arm-hoger {
  right: -50px;
  top: 165px;
  transform: rotate(30deg);
  /* VG TODO 13: Placera armen på kroppens högra sida */
}
